@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@300;400;500;700&family=Sacramento&family=Handlee&display=swap');

@font-face {
    font-family: 'Gretaros Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gretaros Regular'), url('../font/Gretaros-Regular.woff') format('woff');
}
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    background: #ddd;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.4rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
}

/* -------------------------- UTILITY CLASSES -------------------------- */

.bg-foot{
    background-color: #263238;
}

.text-white{
    color: #f4f4f4;
}

.text-black{
    color: #222222;
}

/* -------------------------- CONTAINER -------------------------- */

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.container2{
    max-width:1000px;
    width: 90%;
    margin: 0 auto;
}

/* -------------------------- HEADER AND FOOTER -------------------------- */

.header1{
    height: 94vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('../image/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
}

.footer{
    height: 20vh;
    padding-top: 3rem;
}

/* -------------------------- NAV BAR -------------------------- */

.navbar1{
    padding: 0.1rem;
    background-color: rgba(255, 255, 255, 0.699);
}

.navbar2{
    padding: 0.1rem;
}

.h-logo{
    font-family: Handlee;
    font-size: 2.5rem;
    padding-top: 1.2rem;
    padding-left: 0.5rem;
    float: left;
}

.navbar .logo{
    width: 4.3rem;
    height: 5.2rem;
    float: left;
    padding-top: 1rem;
}

.navbar a{
    color: #222222;
    font-weight: 500;
    padding-bottom: 0.1rem;
}

.navbar .navitem{
    display: inline-block;
    padding: 1rem;
}

.navbar .navitems{
    float: right;
    margin-top: 1rem;
}

.navbar::after{
    content: " ";
    display: block; 
    clear: both;
}

.navbar a:hover{
    border-bottom: 1px solid #222222;
}

/* -------------------------- GALLERY -------------------------- */

.h-gallery{
    font-family: 'Montserrat';
    font-size:3rem;
    padding-top: 0.7em;
}

.s-gallery a{
    float: right;
    color: #ff2f2f;
    font-weight: 500;
    font-size: 1.5rem;
    padding-top: 3.5rem;
}

.g-img-wrap{
    width: 100%;
    height: 30rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.g-img{
    width: 24%;
    height:100%;
    float: left;
    border-radius: 1rem;
    border: 2px solid green;
}

.g-img-2, .g-img-3, .g-img-4{
    margin-left: 1.3rem;
}

.s-gallery a:hover{
    border-bottom: 1px solid #ff2f2f;
}

/* -------------------------- ABOUT US -------------------------- */

.end{
    font-family: 'Gretaros';
    font-size:4rem;
    text-align: center;
    padding-top: 0.5em;
}

.line{
    margin-top: 0.9rem;
}

.abt-team{
    padding-bottom: 2.5rem;
    text-align: center;
}

.abt-dis{
    padding-bottom: 4rem;
}

.h-links p, .h-links i{
    color: #f4f4f4;
    padding-bottom: 0.9rem;
}

.h-links{
    width: 20%;
    float: left;
    font-weight: 600;
    box-shadow: 0px 0px 20px 0px #ababab;
}

.ashish{
    height: 20rem;
    margin-left: 15.5rem;
    border-radius: 2rem;
    background: url(../image/ashish.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.raj{
    height: 20rem;
    margin-left: 4rem;
    border-radius: 2rem;
    background: url(../image/Raj.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tushar{
    height: 20rem;
    margin-left: 4rem;
    border-radius: 2rem;
    background: url(../image/tushar.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.abt-dis::after{
    content: " ";
    display: block;
    clear: both;
}

/* -------------------------- ABOUT US ANIMATION -------------------------- */

.overlay{
    padding-left: 1.8rem;
    padding-top: 12.7rem;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    border-radius: 2rem;
    opacity: 0;
    transition: opacity 0.25s;
}

.overlay:hover{
    opacity: 1;
}

.lr-links{
    text-align: center;
}

form a, .lr-links a{
    color: white;
}

form a:hover{
    border-bottom: 1px solid white;
}

.lr-links i{
    margin: 1rem;
}

/* -------------------------- TEXT -------------------------- */

.text{
    text-align: center;
    font-weight: 700;
    margin-top: 4rem;
}

.text p{
    font-family: Sacramento;
    font-size: 8rem;
}

/* -------------------------- SEARCH BOX -------------------------- */

.search{
    background: rgba(255, 255, 255, 0.699);
    position: relative;
    border-radius: 2.5rem;
    margin-top: 3rem;
}

.search input{
    color: #222222;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5rem 2rem;
    background: transparent;
    border: none;
    font-size: 15px;
    outline: none;
}

.search .house{
    width: 66%;
}

.search .s-btn{
    width: 10%;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem 0;
    background-color: #222222;
    color: #f4f4f4;
    margin-bottom: 0.65rem;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
    outline: none;
}

.search input::placeholder{
    color: #222222;
}

.search .s-btn:hover{
    background-color: #474747;
}

/* -------------------------- HOMEPAGE -------------------------- */

.navbar3{
    text-align: center;
    margin-top: 17rem;
}

.navbar3 a{
    font-size: 2rem;
    color: #f4f4f4;
    font-weight: 600;
}

.navbar3 .navitem{
    display: inline-block;
    padding: 0 2rem;
    margin-top: 0.8rem;
}

.bg-nav{
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
    border-radius: 3rem;
    margin-bottom: 1rem;
}

.navbar3::after{
    content: " ";
    display: block; 
    clear: both;
}

.navbar3 a:hover{
    border-bottom: 1.5px solid white;
}

/* -------------------------- RESPONSIVE -------------------------- */

@media (max-width: 500px){
    html{
        font-size: 45%;
    }

    .header1{
        height: auto;
        padding-bottom: 5rem;
    }

    .h-logo{
        display: none;
    }

    .navbar3{
        margin-top: 10rem;
    }

    .navbar3 .navitem{
        display: inline-block;
        padding: 0 1.5rem;
        margin-top: 0.8rem;
    }

    .search input{
        padding: 1.5rem 0;
        padding-left: 2rem;
        padding-right: 1rem;
    }

    .search .house{
        width: 100%;
    }

    .search .location{
        width: 60%;
    }

    .search .s-btn{
        width: 38%;
        padding: 1.2rem 0;
    }

    .text p{
        font-size: 5rem;
    }

    .g-img{
        width: 100%;
        height:50rem;
        float: none;
        border-radius: 1rem;
        border: 2px solid green;
    }

    .g-img-2, .g-img-3, .g-img-4{
        margin-top: 2rem;
        margin-left: 0;
    }
    
    .g-img-wrap{
        height: auto;
    }

    .h-links{
        width: 100%;
        float: none;
    }

    .ashish, .tushar, .raj{
        height: 45rem;
        margin-left: 0rem;
        margin-bottom: 3rem;
    }

    .overlay{
        padding-left: 1.8rem;
        padding-top: 34.9rem;
        font-size: large;
    }

    .h-links i{
        font-size: 4rem;
    }
}

@media (max-width: 700px){
    html{
        font-size: 45%;
    }

    .header1{
        height: auto;
        padding-bottom: 5rem;
    }

    .h-logo{
        display: none;
    }

    .navbar3{
        margin-top: 10rem;
    }

    .navbar3 .navitem{
        display: inline-block;
        padding: 0 1.5rem;
        margin-top: 0.8rem;
    }

    .search input{
        padding: 1.5rem 0;
        padding-left: 2rem;
        padding-right: 1rem;
    }

    .search .house{
        width: 100%;
    }

    .search .location{
        width: 70%;
    }

    .search .s-btn{
        width: 28%;
        padding: 1.2rem 0;
    }

    .text p{
        font-size: 5rem;
    }

    .s-gallery h1, .s-gallery p{
        margin-left: 1.3rem;
    }

    .g-img{
        width: 45%;
    }

    .g-img-1{
        margin-left: 1.3rem;
    }

    .g-img-3, .g-img-4{
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    .ashish, .tushar, .raj{
        width: 30%;
        margin-left: 1.8rem;
    }
}