@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@300;400;500;700&display=swap');

@font-face {
    font-family: 'Gretaros Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gretaros Regular'), url('../font/Gretaros-Regular.woff') format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.4rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
}

/* -------------------------- UTILITY CLASSES -------------------------- */

.bg-clr{
    background-color: #9a9a9a;
}

.text-white{
    color: #f4f4f4;
}

/* -------------------------- CONTAINER -------------------------- */

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/* -------------------------- HEADER AND FOOTER -------------------------- */

.header1{
    height: 94vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../image/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer{
    height: 45vh;
}

.section{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../image/background\ 2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

/* -------------------------- NAV BAR -------------------------- */

.navbar1{
    padding: 0.1rem;
    background-color: rgba(122, 122, 122, 0.527);
}

.navbar2{
    padding: 0.1rem;
}

.logo{
    font-family: 'Bangers', cursive;
    letter-spacing: 0.05rem;
}

.navbar a{
    color: white;
    padding-bottom: 0.3rem;
}

.navbar .navitem{
    display: inline-block;
    padding: 1rem;
}

.navbar .logo{
    float: left;
    font-size: 3.5rem;
}

.navbar .navitems{
    float: right;
    margin-top: 1rem;
}

.navbar::after{
    content: " ";
    display: block; 
    clear: both;
}

.navbar a:hover{
    border-bottom: 1px solid white;
}

/* -------------------------- ABOUT US -------------------------- */

.end{
    font-family: 'Gretaros';
    font-size:4rem;
    text-align: center;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

/* -------------------------- LOGIN AND REGISTER PAGE -------------------------- */

.form-box{
    height: 40rem;
    width: 38rem;
    position: relative;
    text-align: center;
    margin: 8em auto;
    padding: 4rem 1rem;
    background-color: rgba(0,0,0,0.7);
}

.bttn{
    margin: auto;
    padding-bottom: 2rem;
}

.tgl-bttn{
    border-bottom: 2px solid #f4f4f4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
}

.textbox{
    width: 100%;
    cursor: text;
    color: #f4f4f4;
    overflow: hidden;
    padding: 0.8rem 0;
    margin: 0.8rem 0;
    border: 0;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
}

.stbox{
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    padding: 0.8rem 0;
    margin: 2.5rem 0;
    border: 0;
    border-radius: 5rem;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.8em;
}

.stbox:hover{
    background-color: #bcbcbc;
}

.form-box form{
    max-width: 40rem;
    padding: 0 4rem;
    position: absolute;
}

.create-act{
    font-size: 14px;
    padding-top: 1.5rem;
}

.accept-tandc{
    font-size: 14px;
}

.lr-links{
    text-align: center;
}

form a, .lr-links a{
    color: white;
}

form a:hover{
    border-bottom: 1px solid white;
}

i{
    margin: 1rem;
}
/* -------------------------- VIEW PAGE -------------------------- */
img.map {
    position: absolute;
    
}
.map
{
  display: block;
    margin-left: auto;
    margin-right: auto;
}
.hide {
    display: none;
    z-index: 1;
}

.myDIV:hover + .hide {
    position: fixed;
    top: 0;
    right: 0;
    background-color: orange;
    display: inline-block;
    height: 400px;
    padding: 50px;
}
.map-head{
  font-family: "Helvetica Bold Condensed", "Gill sans", "Bebas Neue" , sans-serif;
  color: #FFFFFF;
  font-size: 400%;
}
.desc-image{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.desc-text{
  font-family: "Helvetica Bold Condensed", "Gill sans", "Bebas Neue" , sans-serif;
  color: #FFFFFF;
    font-size: 20px;
}
/* -------------------------- REPORT PAGE -------------------------- */
div.gallery {
    border: 1px solid #ccc;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: 200px;
  }

  .desc {
    padding: 15px;
    text-align: center;
    color: #FFFFFF;
    font-size: 150%;
    font-weight: bold;
  }

  * {
    box-sizing: border-box;
  }

  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }

  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  .map-head{
      font-family: "Helvetica Bold Condensed", "Gill sans", "Bebas Neue" , sans-serif;
      color: #FFFFFF;
      font-size: 400%;
      text-align: center;
      clear: both;
      display: block;
              }
  hr.thick {
    border: 15px solid white;
    border-radius: 15px;
    clear: both;
    display: block;
  }
  ul{
      color: #FFFFFF;
      font-size: 200%;
      text-align: center;
  }
  .clearfix:after {
        content: "";
        display: table;
        clear: both;
  }